myenv/
.venv/
/venv/
*.so
*.spec
/tempCodeRunnerFile.py
*.DS_Store
/build/
/dist/
**/__pycache__/
/test_functions/tempCodeRunnerFile.py
python_files/__pycache__/
python_files/tempCodeRunnerFile.py
source.txt
