myenv/
.venv/
/venv/
*.so
*.spec
/tempCodeRunnerFile.py

*.DS_Store
/build/
/dist/
/python_files/__pycache__/
/python_files/tempCodeRunnerFile.py
python_files/__pycache__/
python_files/tempCodeRunnerFile.py